.center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.navbar {
    background-color: #02B3FF;
    color: #000000;
    font-size: 15x;
}
.navbar-expand-lg.bg-body-tertiary {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 2px;
    margin-top: 2px;
}
.smkn-text {
    font-size: 13px;
}

.logo-informasi {
    width: 65px;
    height: 65px;
    margin-right: 2px;
    margin-bottom: 13px;
}
.logo-map {
    width: 65px;
    height: 65px;
    margin-right: 2px;
    margin-bottom: 13px;
}
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Sesuaikan tinggi dengan kebutuhan Anda */
    }

    .card-header {
        /* Sesuaikan gaya card header jika perlu */
        text-align: center;
        width: 100%;
    }

    .nav-tabs {
        /* Sesuaikan gaya navigasi tab jika perlu */
        justify-content: center;
    }
    .nav-tabs .nav-link.active {
        border: 2px solid;/* Warna outline untuk tab aktif */
        border-bottom-color: #08090a; /* Untuk menyembunyikan garis bawah default */
        border-radius: 0.50rem 0.50rem 0 0; /* Optional: Memberikan sudut pada tab aktif */
    }
