
    .center-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .navbar {
        background-color: #02B3FF;
        color: #000000;
        font-size: 19px;
    }
    .navbar-expand-lg.bg-body-tertiary {
        background-color: #ffffff;
        color: #000000;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .logo-informasi {
        width: 65px;
        height: 65px;
        margin-right: 2px;
        margin-bottom: 13px;
    }
    .logo-map {
        width: 65px;
        height: 65px;
        margin-right: 2px;
        margin-bottom: 13px;
    }

    .informasi-pemagangan {
        font-size: 20px;
    }

    .smkn-text {
        font-size: 13px;
    }
    body {
        background-color: #f8f9fa; /* Ganti warna latar sesuai kebutuhan */
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .profile-card {
        margin-top: -12rem; /* Sesuaikan margin sesuai kebutuhan */
    }